<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <p:commandLink action="persona.xhtml?faces-redirect=true" value="Registrar Persona"/>
         <h:form>
            <p:outputLabel value="Niveles"/>
            <p:inputText value="#{personaMB.nivelPersonal.nivel}" />
            <p:commandButton value="Guardar Nivel" actionListener="#{personaMB.crear()}" />
            <p:commandButton value="Ver niveles" actionListener="#{personaMB.listar()}" update=":nivel"/>
        </h:form>
        <h:form id="nivel">
            <p:dataTable value="#{personaMB.nivelPersonals}" var="nivel">
                <p:column headerText="Niveles">
                    <p:outputLabel value="#{nivel.nivel}"/>
                </p:column>
                <p:column headerText="Accio">
                    <p:commandButton value="Eliminar" actionListener="#{personaMB.eliminar(nivel)}" />
                </p:column>
            </p:dataTable>
        </h:form>
    </h:body>
</html>

