<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form>
            <h:panelGrid columns="2">
            <p:outputLabel value="Nombre" />
            <p:inputText value="#{personaMB.p.nombre}" />
            <p:outputLabel value="Edad" />
            <p:inputText value="#{personaMB.p.edad}" />
            <p:outputLabel value="Sexo" />
            <p:selectOneRadio value="#{personaMB.p.sexo}">
                <f:selectItem itemValue="m" itemLabel="Masculino" />
                <f:selectItem itemValue="f" itemLabel="Femenino" />
            </p:selectOneRadio>
            <p:outputLabel value="Escolaridad" />
            <p:selectOneRadio value="#{personaMB.p.escolaridad}">
                <f:selectItem itemValue="1" itemLabel="Basica" />
                <f:selectItem itemValue="2" itemLabel="Bachillerato" />
                <f:selectItem itemValue="3" itemLabel="Universidad" />
            </p:selectOneRadio>
            <p:outputLabel value="Nivel"/>
            <p:selectOneMenu value="#{personaMB.nivelPersonal.id}">
                <f:selectItems value="#{personaMB.nivelPersonals}" var="nv" itemLabel="#{nv.nivel}" itemValue="#{nv.id}"/>
            </p:selectOneMenu>
            <p:commandButton value="Guardar" actionListener="#{personaMB.crearPersona()}" />
            </h:panelGrid>
        </h:form>
    </h:body>
</html>

